numpy
pint
scikit-rf
ziafont
ziamath
schemdraw
eseries
black
plotly
ipywidgets
mpmath
sympy
ycx_complex_numbers @ git+https://github.com/M0YCX/ycx_complex_numbers.git
ycx_rf_amplifiers @ git+https://github.com/M0YCX/ycx_rf_amplifiers.git
